<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Resizer</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="navcont">
                <div id="logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="50px" width="50px">
                    <div id="brand"><i>Image Resizer</i></div>
                </div>
                <nav>
                    <ul id="navlist">
                        <li>
                            <div>
                                <a class="link" href="#">home</a>
                                <a class="link" href="#">contact us</a>
                                <a class="link" href="{{ url_for('about') }}" target="_blank">About</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="hero">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="image">Choose an image to upload:</label>
                    <input type="file" id="image" name="file" accept="image/*" required>
                    <div class="option">
                        <div class="dropdown-format">
                            <label for="format">Select image format:</label>
                            <select id="format" name="format" required>
                                <option value="png">PNG</option>
                                <option value="jpg">JPG</option>
                                <option value="jpeg">JPEG</option>
                                <option value="gif">GIF</option>
                                <option value="cgray">Grayscale</option>
                            </select>
                        </div>
                        <div class="dropdown-scale">
                            <label for="scale">Select scale percentage:</label>
                            <select id="scale" name="scale" required>
                                <option value="25">10%</option>
                                <option value="25">25%</option>
                                <option value="50">50%</option>
                                <option value="75">75%</option>
                                <option value="100">100%</option>
                                <option value="150">150%</option>
                                <option value="200">200%</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit">Upload and Convert Image</button>
                </form>
            </div>
            {% if new_filename %}
            <div class="download-container">
                <p>Download your processed image:</p>
                <a class="download-link" href="{{ url_for('static', filename=new_filename) }}" download>Download Image</a>
            </div>
            {% endif %}
        </main>
        <footer>
            <div class="footer">
                <p>Copyright &copy: Image Resizer Pvt Limited &lt&lt All Rights Reserved &gt&gt</p>
            </div>
        </footer>
    </div>
</body>
</html>
